
@media(min-width:576px){
 
    
    
}
@media(max-width:768px){

    
    
}

@media(min-width:768px){
 

    
}




@media(min-width:992px){

    .navbar-light .navbar-nav .nav-link {
    padding: 0.2rem .4rem;
}

.navbar-brand img {
    max-width: 100%;
}
   
}

@media(min-width:1200px){
   
    .navbar-light .navbar-nav .nav-link {
    padding: 0.2rem 1rem;
}
    
}

@media(min-width:1245px){
   
    .container {
        max-width: 1200px;
    }
    

    
}