
body.disabled:after{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: block;
    content:'';
    top:0;
    left: 0;
}

body {
    font-size: 14px;
}

*{
    /*    font-family:'HelveticaNeue';*/
}


img{
    max-width: 100%;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

p {
    line-height: 1.7;
    margin-bottom: 1.7rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2.2rem;
    font-weight: bold;
    position: relative;
}

h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

h6 {
    position: relative;
}

figure {
    margin: 0;
}

.col-no-padding {
    margin: 0; 
}

.col-no-padding > div{
    padding: 0; 
}





/*HEADER*/

header {
    border-bottom: 8px solid #7aba48;
}

.navbar-brand img {
    max-width: 130px;
}

#main-menu .nav-link{
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.2rem 1rem;
}



.navbar-nav .dropdown-menu {
    background: #7aba48;
}

.navbar-nav .dropdown-menu a {
    color: #fff;
    display: block;
    padding: 5px 15px;
    line-height: 1.1;
}

.navbar-nav .dropdown-menu li:first-of-type a {
    padding-top: 10px;
}

.navbar-nav .dropdown-menu li:last-of-type a {
    padding-bottom: 10px;
}

.navbar-nav .dropdown-menu a:hover{
    color: #7aba48;
    background: #fff;
    text-decoration: none;
}

.dropdown-item {
    padding: 0;
}

.dropdown-toggle::after {
    display: none;
}

/*LEAD SECTION*/
.lead {

}

.lead .container {

    position: relative;
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lead .container:after {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 1%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}





/*PLATFORM SECTION*/


/*PRESENTATION SECTION*/

.presentation{
    position: relative;
}

.presentation article {
    border-bottom: solid 2px #7aba48;
}

.presentation .row div:last-of-type article {
    border-bottom: none;
}

.presentation article {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation figure {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.presentation h5 {
    text-align: center;
}

.presentation .container:after {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    z-index: 10;
    display: block;
    content: '';
    top: -3px;
    left: 0px;
}

/*LETTER SECTION*/
.letter {
    padding: 80px 0;
}

/*AUTHORS SECTION*/
.owl-carousel {
    margin-top: 70px;
}

.authors .owl-item {
    padding: 17px
}

.owl-carousel a{
    color: #000;
}

.owl-carousel a:hover{
    text-decoration: none;
}

.authors figure {
    margin-bottom: 35px;
}

.h3-border-center:after {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.authors .owl-carousel p {
    position: relative;
}

.authors .owl-carousel p:after {
    position: absolute;
    height: 2px;
    width: 160px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/*SPONSORS SECTION*/
.sponsors .owl-item {
    padding: 17px;
}

/*RATE SECTION*/
.rate .br-wrapper {
    text-align: center;
    margin-top: 50px;
}

/*FOOTER*/
footer {
    border-top: 8px solid #7aba48;

}

.copyright p{
    font-size: .9rem;
}

footer .nav-link{
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

footer .nav-link{
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

footer .navbar-nav .nav-link:hover,
footer .navbar-nav .nav-link.active {
    color: #7aba48;
}

footer h5{
    display: inline-block;
    border-bottom: 1px solid #7aba48;
    padding: 0 15px;
    padding-bottom: 10px;
}

footer .navbar-nav {
    display: inline-block;
}



.social .fa{
    font-size: 2em;
    color: #c0c0c0;
    margin: 0 6px;
}

.social  a:hover .fa{
    color: #7aba48;
}

/*CUSTOM CLASS STYLE*/

.lead .btn,
.registration .btn{
    padding: 0.2rem 0.75rem;
    padding-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 1rem;
    font-style: italic;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}


.btn-success{
    background-color: #7aba48;
    border-color: #7aba48;
}

.green-bottom-border {
    border-bottom: 8px solid #7aba48;
}

.h2-green {
    color: #7aba48;
    border-bottom: solid 3px #7aba48;
    padding-bottom: 30px;
    display: inline-block;
    margin-top: 8px;
}

.h3-border:before {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -25px;
    left: -100px;
}

.p-green {
    color: #7aba48;
    font-weight: bold;
}

.rate-border-right {
    border-bottom: solid 2px #7aba48;
}

/*CALENDAR*/

.calendar header {
    border: none;
}
.calendar h5{
    color: #7aba48;
    text-transform: uppercase;
}
.br-theme-fontawesome-stars-o .br-widget a {
    font-size: 3em !important;
    margin: 0 5px;
}




.calendar {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    font: 15px/1em inherit;
    color: #545A5C; }
.calendar a {
    text-decoration: none;
    color: inherit; }
.calendar header .btn-prev {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    text-align: center;
    line-height: 30px;
    color: #7aba48;
    border-radius: 0;
    border-right: 15px solid #7aba48;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    padding: 0; }
.calendar header .btn-next {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    text-align: center;
    line-height: 30px;
    color: #7aba48;
    border-radius: 0;
    border-left: 15px solid #7aba48;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    padding: 0; }

.calendar header .btn:hover {
}
.calendar header .btn-prev {
    left: 0;
    top: 0; }
.calendar header .btn-next {
    right: 0;
    top: 0; }
.calendar header .month {
    padding: 0;
    margin: 0; }
.calendar table {
    width: 100%;
    margin: 20px 0;
    border-spacing: 0px; }
.calendar thead {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #000; }
.calendar thead td {
    padding-bottom: 6px; }
.calendar thead td:nth-last-of-type(-n+2){
    color: #7aba48;
}

.calendar tbody tr td:nth-last-of-type(-n+2){
    color: #7aba48;
}

.calendar .day {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.7em;
    border-radius: 50%;
    border: 2px solid transparent; }
.calendar .day:hover {
    color: #fff;
}
.calendar .day.today {
    background: #7aba48;
    color: white !important; }
.calendar .day.wrong-month {
    color: #CBD1D2; }
.calendar .day.wrong-month:hover {
    border: 2px solid transparent; }
.calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #545A5C; }
.calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #545A5C;
    transform: translate(-50%, -50%); }


/*REGISTRATION SECTION*/
.registration .form-control {
    display: inline-block;
    background-color: #ececec;
    border: none;
    border-radius: 0;
    padding: 0.7rem 0.75rem;
    width: 100%;
}
.registration .form-group {
    margin-bottom: .6rem;
}

.registration .registration-form h3{
    margin-bottom: 50px;
}

.registration h6{
    margin-bottom: 70px;
}

.registration h6:before {
    position: absolute;
    height: 1px;
    width: 200px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -20px;
    left: 0px;
}

.red-star {
    color: red;
}

.registration button {
    cursor: pointer;
}

.registration select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    display: block;
    width: 300px;
    height: 43px;
    line-height: 43px;
}

select.form-control:not([size]):not([multiple]) {
    height: 43px;
}


/*DODATAK CSS ZA VALIDACIJU FORME*/

.error *{
  color:#d9534f !important;
  font-size: 14px;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control,
.has-succes label{
  color: #5cb85c;
}

.has-success .form-control, .has-success .form-control:focus {
  border-color: #5cb85c;
}

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea;
}

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control,
.has-warning label{
  color: #f0ad4e;
}

.has-warning .form-control,.has-warning .form-control:focus {
  border-color: #f0ad4e;
}

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white;
}

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control,
.has-danger label{
  color: #d9534f;
}

.has-danger .form-control,
.has-danger .form-control:focus{
  border-color: #d9534f;
}

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7;
}

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}