
body.disabled:after{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: block;
    content:'';
    top:0;
    left: 0;
}

html {
    font-size: 16px;
}

*{
    /*    font-family:'HelveticaNeue';*/
}


img{
    max-width: 100%;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

p {
    line-height: 1.7;
    margin-bottom: 1.7rem;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2.2rem;
    font-weight: bold;
    position: relative;
}

h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

figure {
    margin: 0;
}

.col-no-padding {
    margin: 0; 
}

.col-no-padding > div{
    padding: 0; 
}





/*HEADER*/

header {
    border-bottom: 8px solid #7aba48;
}

.navbar-brand img {
    max-width: 130px;
}

#main-menu .nav-link{
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.2rem 1rem;
}



.navbar-nav .dropdown-menu {
    background: #7aba48;
}

.navbar-nav .dropdown-menu a {
    color: #fff;
    display: block;
    padding: 5px 15px;
    line-height: 1.1;
}

.navbar-nav .dropdown-menu li:first-of-type a {
    padding-top: 10px;
}

.navbar-nav .dropdown-menu li:last-of-type a {
    padding-bottom: 10px;
}

.navbar-nav .dropdown-menu a:hover{
    color: #7aba48;
    background: #fff;
    text-decoration: none;
}

.dropdown-item {
    padding: 0;
}

.dropdown-toggle::after {
    display: none;
}

/*LEAD SECTION*/
.lead {

}

.lead .container {

    position: relative;
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lead .container:after {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 1%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.lead .btn {
    padding: 0.2rem 0.75rem;
    padding-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 1rem;
    font-style: italic;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}

.lead .btn-success{
    background-color: #7aba48;
    border-color: #7aba48;
}

/*PLATFORM SECTION*/


/*PRESENTATION SECTION*/

.presentation{
    position: relative;
}

.presentation article {
    border-bottom: solid 2px #7aba48;
}

.presentation .row div:last-of-type article {
    border-bottom: none;
}

.presentation article {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation figure {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.presentation h5 {
    text-align: center;
}

.presentation .container:after {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    z-index: 10;
    display: block;
    content: '';
    top: -3px;
    left: 0px;
}

/*LETTER SECTION*/
.letter {
    padding: 80px 0;
}

/*AUTHORS SECTION*/
.owl-carousel {
    margin-top: 70px;
}

.authors .owl-item {
    padding: 17px
}

.owl-carousel a{
    color: #000;
}

.owl-carousel a:hover{
    text-decoration: none;
}

.authors figure {
    margin-bottom: 35px;
}

.h3-border-center:after {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.authors .owl-carousel p {
    position: relative;
}

.authors .owl-carousel p:after {
    position: absolute;
    height: 2px;
    width: 160px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/*SPONSORS SECTION*/
.sponsors .owl-item {
    padding: 17px;
}

/*RATE SECTION*/
.rate .br-wrapper {
    text-align: center;
    margin-top: 70px;
}

/*FOOTER*/
footer {
    border-top: 8px solid #7aba48;
}

footer .nav-link{
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

footer .nav-link{
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

footer .navbar-nav .nav-link:hover,
footer .navbar-nav .nav-link.active {
    color: #7aba48;
}

footer .dropdown-menu {

}

/*CUSTOM CLASS STYLE*/

.green-bottom-border {
    border-bottom: 8px solid #7aba48;
}

.h2-green {
    color: #7aba48;
    border-bottom: solid 3px #7aba48;
    padding-bottom: 30px;
    display: inline-block;
    margin-top: 8px;
}

.h3-border:before {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    display: block;
    content: '';
    bottom: -25px;
    left: -100px;
}

.p-green {
    color: #7aba48;
    font-weight: bold;
}

.green-border-right {
    border-right: solid 2px #7aba48;
}

/*CALENDAR*/

.calendar header {
    border: none;
}
.calendar h5{
    color: #7aba48;
    text-transform: uppercase;
}
.br-theme-fontawesome-stars-o .br-widget a {
    font-size: 3em !important;
    margin: 0 5px;
}




.calendar {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    font: 15px/1em inherit;
    color: #545A5C; }
.calendar a {
    text-decoration: none;
    color: inherit; }
.calendar header .btn-prev {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    text-align: center;
    line-height: 30px;
    color: #7aba48;
    border-radius: 0;
    border-right: 15px solid #7aba48;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    padding: 0; }
.calendar header .btn-next {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    text-align: center;
    line-height: 30px;
    color: #7aba48;
    border-radius: 0;
    border-left: 15px solid #7aba48;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    padding: 0; }

.calendar header .btn:hover {
}
.calendar header .btn-prev {
    left: 0;
    top: 0; }
.calendar header .btn-next {
    right: 0;
    top: 0; }
.calendar header .month {
    padding: 0;
    margin: 0; }
.calendar table {
    width: 100%;
    margin: 20px 0;
    border-spacing: 0px; }
.calendar thead {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #000; }
.calendar thead td {
    padding-bottom: 6px; }
.calendar thead td:nth-last-of-type(-n+2){
    color: #7aba48;
}

.calendar tbody tr td:nth-last-of-type(-n+2){
    color: #7aba48;
}

.calendar .day {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.7em;
    border-radius: 50%;
    border: 2px solid transparent; }
.calendar .day:hover {
    color: #fff;
}
.calendar .day.today {
    background: #7aba48;
    color: white !important; }
.calendar .day.wrong-month {
    color: #CBD1D2; }
.calendar .day.wrong-month:hover {
    border: 2px solid transparent; }
.calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #545A5C; }
.calendar .filler {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #545A5C;
    transform: translate(-50%, -50%); }
