
body.disabled:after{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: block;
    content:'';
    top:0;
    left: 0;
}


*{
    /*    font-family:'HelveticaNeue';*/
}


img{
    max-width: 100%;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

p {
    line-height: 1.7;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2.2rem;
    font-weight: bold;
    position: relative;
}

h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

figure {
    margin: 0;
}

.col-no-padding {
    margin: 0; 
}

.col-no-padding > div{
    padding: 0; 
}





/*HEADER*/

header {
    border-bottom: 8px solid #7aba48;
}

.navbar-brand img {
    max-width: 130px;
}

#main-menu a{
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    border-bottom: 3px solid #7aba48;
}

.navbar-nav .dropdown-menu {
    background: #7aba48;
}

.dropdown-toggle::after {
    display: none;
}

/*LEAD SECTION*/
.lead {

}

.lead .container {

    position: relative;
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lead .container:after {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 1%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.lead .btn {
    padding: 0.2rem 0.75rem;
    padding-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 1rem;
    font-style: italic;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}

.lead .btn-success{
    background-color: #7aba48;
    border-color: #7aba48;
}

/*PLATFORM SECTION*/


/*PRESENTATION SECTION*/

.presentation article {
    border-bottom: solid 2px #7aba48;
}


.presentation article {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation figure {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.presentation h5 {
    text-align: center;
}



/*CUSTOM CLASS STYLE*/

.green-bottom-border {
    border-bottom: 8px solid #7aba48;
}

.text-green {
    color: #7aba48;
    border-bottom: solid 3px #7aba48;
    padding-bottom: 30px;
    display: inline-block;
    margin-top: 8px;
}

.h3-border:before {
    position: absolute;
    height: 6px;
    width: 200px;
    background: #7aba48;
    z-index: 10;
    display: block;
    content: '';
    bottom: -25px;
    left: -100px;
}

